<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>상품 추가하기</title>
</head>
<body>
<h1>상품 추가하기</h1>
<form th:action="@{${product.id} == 0 ? '/api/products' : '/api/products/update/' + ${product.id}}"  th:object="${product}" method="post">
  <label>id: <input type="number" th:field="*{id}" /></label><br>
  <label>name: <input type="text" th:field="*{name}" /></label><br>
  <label>price: <input type="number" th:field="*{price}" /></label><br>
  <label>imageUrl: <input type="text" th:field="*{imageUrl}" /></label><br>
  <button type="submit">완료</button>
</form>
<a href="/api/products">돌아가기</a>
</body>
</html>