<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Product Form</title>
</head>
<body>
<div class="container mt-5">
  <h1>Product Form</h1>
  <form th:action="@{${product.id} == null ? '/api/products' : '/api/products/update/' + ${product.id}}" th:object="${product}" method="post">
    <div class="form-group">
      <label for="id">Id</label>
      <input type="text" class="form-control" id="id" th:field="*{id}" required>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" th:field="*{name}" required>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" th:field="*{price}" required>
    </div>
    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      <input type="text" class="form-control" id="imageUrl" th:field="*{imageUrl}" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/api/products" class="btn btn-secondary">Cancel</a>
  </form>
</div>
</body>
</html>